.homePageWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.main-content{

    flex: 1;
    overflow: hidden;

}

.app-navigator {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

.app-info-wrapper {
    width: 1000px;
    display: flex;
    place-items: center;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    margin-left: 10px;
    color: var(--color-gray-800);

    &:hover {
        background-color: var(--color-gray-200);
    }
}

.app-logo {
    width: 32px;
    height: 32px;
    margin: 10px 8px 10px 8px;
    border-radius: 8px;
    background-color: #3d6583;
}

.app-logo img {
    width: 100%;
    height: 100%;
    padding: 6px;
}

.app-name {
    color: var(--color-gray-900);
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-large);
}

.app-navigator-link-wrapper {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-self: stretch;
}

.app-navigator-link-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin: 0 24px;
    align-self: stretch;
    background-color: var(--color-white);
    color: var(--color-text);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
}

.item-title {
    margin-left: 8px;
    color: var(--color-black);
}

.item-border {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
}

.app-setting-wrapper {
    width: 1000px;
    display: flex;
    place-items: center;
    justify-content: flex-end;
    margin-right: 18px;
    gap: 12px;
}

.common-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 18px;
    border-radius: 8px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    user-select: none;
}

.debug-btn {
    box-shadow: var(--color-gray-300) 0 0 0 1px;
    background-color: var(--color-white);
    color: var(--color-black);
}

.debug-btn.debug {
    color: var(--color-primary);
    box-shadow: var(--color-primary) 0 0 0 1px;
}